/target
config.yml
!deployment/config.yml

# ignores for devcontainer configuration
/.devcontainer/configs/ranger-vmware-node-deployer.yml

# ignores for devcontainer database
/.devcontainer/ranger-database
